<a href="https://colab.research.google.com/github/KylaLumane/CPE-0332.1-1-Elective-3-Lab/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP Statement (Example 1)

In [ ]:
week = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Hatdog

The break statement (Example 2)

In [ ]:
week = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  print(x)
  if x == 'Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 - The break statement

In [ ]:
week = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
  if x == 'Thursday':
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4 (Looping through a String)

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Example 5 - Application 3

In [ ]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for x in week:
    if x == 'Thursday':
        print(x)
        break

Thursday

The range() function

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

Nested Loop

In [ ]:
adjective = ['red', 'big', 'tasty']
fruits = ['apple', 'banana', 'cherry']

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 #Assignment operator

1
2
3
4
5

While Statement (break statement)

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue statement

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Try - Application 4

In [ ]:
i = 0
for i in range(11):
    print(f"Hello {i}")

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Try 2 - Application 5

In [ ]:
for i in range(3, 10): #FOR LOOP
    print(i)

3
4
5
6
7
8
9

In [ ]:
i = 3 #WHILE LOOP
while i < 10:
    print(i)
    i += 1

3
4
5
6
7
8
9