<a href="https://colab.research.google.com/github/KylaLumane/PLM-Elective-3-Lab/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [1]:
if 5>2:
  print ("5 is greater than 2")

5 is greater than 2

Python Comment

In [2]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [5]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
print (s)

9

Casting

In [7]:
b = "Sally" #This is a string
b = int(4)
print (b)

4

In [9]:

print(type(b))

<class 'int'>

Double Quotes abd Single Quotes

In [12]:
w = "Ana"
print (w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [16]:
a = int(4)
A = "Sally"
A

'Sally'

Multiple Variable

In [17]:
h,i,j= "one",'two',"three"
print(h,i,j)

one two three

Multiple Variable with Single Value

In [18]:
k=l=m="four"
print(k)
print(l)
print(m)

four
four
four

Output Variable and Concatenation +

In [21]:
n = "enjoying"
p = "Python  programming is "
print(p + n)

Python  programming is enjoying

Arithmetic Operations

In [24]:
x,y,z=3,4,5
print(x//y)

0

Assignment Operator

In [25]:
x+=3 #same as x = x+3
print(x)

6

Comparison Operator

In [27]:
print(x==y) #x+=3
print(x!=y)
print (x>y)
print(x<y)

False
True
True
False

Logical Operators

In [30]:
print(x==y and x!=y) #False and True
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #negate(false or true)

False
True
False

Identity Operator

In [31]:
x is y #x=3, y=2
x is not y

True

Bitwise Operation

In [34]:
#10 + 1 = 11   ; 1010 + 0001 = 1011
print(10|1)

print(x>>1)  #x=3  , 011

11
3